.bdy{
    background-image: url("../Background/bg1.jpg");
    height: 100%; 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-family: cursive;
}
.form-style-5{
    max-width: 500px;
    padding: 10px 70px;
    margin: 10px auto;
    
    padding: 20px auto;
    margin-left: 1.5em auto;
    border-color: black;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    font-size: 25px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}
.footer {
    position: fixed;
    height: 30px;
    background-color: #d691d6;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

